{
  "openapi": "3.1.1",
  "jsonSchemaDialect": "https://spec.openapis.org/oas/3.1/dialect/base",
  "info": {
    "title": "AMZ Automation Console CRM Read API",
    "version": "1.0",
    "description": "Independent read-only CRM integration for nine store-monitoring checks. Static contract of the current implementation; not a claim that this revision is deployed. HTTPS and exact configured Host are required for every listed route. No CORS is enabled. This is opaque bearer plus browser-bound ticket/session authentication, not OAuth. Success JSON envelopes and application/problem+json errors are distinct. Credentials in query keys containing token, ticket, password, secret or authorization are rejected. Unknown/repeated query parameters are rejected. No route starts sampling or writes Amazon/CRM business data. Structured output uses explicit allowlists with rule-based text redaction, not arbitrary-prose personal-data classification."
  },
  "servers": [
    {
      "url": "https://amzcheck.pc51.com",
      "description": "CRM integration target. HTTPS and this configured canonical Host are required. Query /api/crm/v1 for the serving API capabilities; the checked-in contract alone does not establish which revision is deployed."
    }
  ],
  "tags": [
    {
      "name": "Read API"
    },
    {
      "name": "Browser SSO"
    }
  ],
  "paths": {
    "/api/crm/v1": {
      "get": {
        "operationId": "getCrmCapabilities",
        "summary": "Get available capabilities",
        "description": "Reads only saved nine-check data. Does not start collection, contact Amazon, send CRM updates or include competitive intelligence. An Authorization header, if present at all, takes precedence over the CRM session cookie; invalid headers do not fall back to cookies.",
        "tags": [
          "Read API"
        ],
        "security": [
          {
            "CrmBearer": []
          },
          {
            "CrmSession": []
          }
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Success.",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/X-Request-Id"
              },
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "Cache-Control": {
                "$ref": "#/components/headers/Cache-Control"
              },
              "Referrer-Policy": {
                "$ref": "#/components/headers/Referrer-Policy"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CapabilitiesResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Problem400"
          },
          "401": {
            "$ref": "#/components/responses/Problem401"
          },
          "403": {
            "$ref": "#/components/responses/Problem403"
          },
          "405": {
            "$ref": "#/components/responses/Problem405"
          },
          "421": {
            "$ref": "#/components/responses/Problem421"
          },
          "429": {
            "$ref": "#/components/responses/Problem429"
          },
          "500": {
            "$ref": "#/components/responses/Problem500"
          },
          "503": {
            "$ref": "#/components/responses/Problem503"
          }
        },
        "x-rejectUnknownQueryParameters": true,
        "x-rejectDuplicateQueryParameters": true
      }
    },
    "/api/crm/v1/openapi.json": {
      "get": {
        "operationId": "getCrmOpenApi",
        "summary": "Get this machine contract",
        "description": "Returns raw OpenAPI JSON under the same CRM authentication and HTTPS rules. No success envelope.",
        "tags": [
          "Read API"
        ],
        "security": [
          {
            "CrmBearer": []
          },
          {
            "CrmSession": []
          }
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Success.",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/X-Request-Id"
              },
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "Cache-Control": {
                "$ref": "#/components/headers/Cache-Control"
              },
              "Referrer-Policy": {
                "$ref": "#/components/headers/Referrer-Policy"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OpenApiDocument"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Problem400"
          },
          "401": {
            "$ref": "#/components/responses/Problem401"
          },
          "403": {
            "$ref": "#/components/responses/Problem403"
          },
          "405": {
            "$ref": "#/components/responses/Problem405"
          },
          "421": {
            "$ref": "#/components/responses/Problem421"
          },
          "429": {
            "$ref": "#/components/responses/Problem429"
          },
          "500": {
            "$ref": "#/components/responses/Problem500"
          },
          "503": {
            "$ref": "#/components/responses/Problem503"
          }
        },
        "x-rejectUnknownQueryParameters": true,
        "x-rejectDuplicateQueryParameters": true
      }
    },
    "/api/crm/v1/stores": {
      "get": {
        "operationId": "listCrmStores",
        "summary": "List authorized enabled stores",
        "description": "Reads only saved nine-check data. Does not start collection, contact Amazon, send CRM updates or include competitive intelligence. An Authorization header, if present at all, takes precedence over the CRM session cookie; invalid headers do not fall back to cookies.",
        "tags": [
          "Read API"
        ],
        "security": [
          {
            "CrmBearer": []
          },
          {
            "CrmSession": []
          }
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Success.",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/X-Request-Id"
              },
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "Cache-Control": {
                "$ref": "#/components/headers/Cache-Control"
              },
              "Referrer-Policy": {
                "$ref": "#/components/headers/Referrer-Policy"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StoresResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Problem400_2"
          },
          "401": {
            "$ref": "#/components/responses/Problem401"
          },
          "403": {
            "$ref": "#/components/responses/Problem403"
          },
          "405": {
            "$ref": "#/components/responses/Problem405"
          },
          "421": {
            "$ref": "#/components/responses/Problem421"
          },
          "429": {
            "$ref": "#/components/responses/Problem429"
          },
          "500": {
            "$ref": "#/components/responses/Problem500"
          },
          "503": {
            "$ref": "#/components/responses/Problem503"
          }
        },
        "x-rejectUnknownQueryParameters": true,
        "x-rejectDuplicateQueryParameters": true
      }
    },
    "/api/crm/v1/stores/{storeKey}/results": {
      "get": {
        "operationId": "getCrmStoreResults",
        "summary": "Get nine-check result summaries",
        "description": "Reads only saved nine-check data. Does not start collection, contact Amazon, send CRM updates or include competitive intelligence. An Authorization header, if present at all, takes precedence over the CRM session cookie; invalid headers do not fall back to cookies. Latest effective results are selected independently by store/check; targeted ASIN results retain their true original run. Any conflicting stored copy affecting this store fails the request.",
        "tags": [
          "Read API"
        ],
        "security": [
          {
            "CrmBearer": []
          },
          {
            "CrmSession": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/StoreKey"
          }
        ],
        "responses": {
          "200": {
            "description": "Success.",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/X-Request-Id"
              },
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "Cache-Control": {
                "$ref": "#/components/headers/Cache-Control"
              },
              "Referrer-Policy": {
                "$ref": "#/components/headers/Referrer-Policy"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResultsResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Problem400_3"
          },
          "401": {
            "$ref": "#/components/responses/Problem401"
          },
          "403": {
            "$ref": "#/components/responses/Problem403"
          },
          "404": {
            "$ref": "#/components/responses/Problem404"
          },
          "405": {
            "$ref": "#/components/responses/Problem405"
          },
          "409": {
            "$ref": "#/components/responses/Problem409"
          },
          "421": {
            "$ref": "#/components/responses/Problem421"
          },
          "429": {
            "$ref": "#/components/responses/Problem429"
          },
          "500": {
            "$ref": "#/components/responses/Problem500"
          },
          "503": {
            "$ref": "#/components/responses/Problem503"
          }
        },
        "x-rejectUnknownQueryParameters": true,
        "x-rejectDuplicateQueryParameters": true
      }
    },
    "/api/crm/v1/stores/{storeKey}/checks/{checkId}/runs": {
      "get": {
        "operationId": "listCrmCheckRuns",
        "summary": "List stored runs for one store and check",
        "description": "Reads only saved nine-check data. Does not start collection, contact Amazon, send CRM updates or include competitive intelligence. An Authorization header, if present at all, takes precedence over the CRM session cookie; invalid headers do not fall back to cookies. Run date filtering uses each result collection date in Beijing time. No query-based status or publication-date filter exists. Conflicting copies fail closed.",
        "tags": [
          "Read API"
        ],
        "security": [
          {
            "CrmBearer": []
          },
          {
            "CrmSession": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/StoreKey"
          },
          {
            "$ref": "#/components/parameters/CheckId"
          },
          {
            "$ref": "#/components/parameters/From"
          },
          {
            "$ref": "#/components/parameters/To"
          },
          {
            "$ref": "#/components/parameters/Page"
          },
          {
            "$ref": "#/components/parameters/PageSize"
          }
        ],
        "responses": {
          "200": {
            "description": "Success.",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/X-Request-Id"
              },
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "Cache-Control": {
                "$ref": "#/components/headers/Cache-Control"
              },
              "Referrer-Policy": {
                "$ref": "#/components/headers/Referrer-Policy"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RunsResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Problem400_3"
          },
          "401": {
            "$ref": "#/components/responses/Problem401"
          },
          "403": {
            "$ref": "#/components/responses/Problem403"
          },
          "404": {
            "$ref": "#/components/responses/Problem404"
          },
          "405": {
            "$ref": "#/components/responses/Problem405"
          },
          "409": {
            "$ref": "#/components/responses/Problem409"
          },
          "421": {
            "$ref": "#/components/responses/Problem421"
          },
          "429": {
            "$ref": "#/components/responses/Problem429"
          },
          "500": {
            "$ref": "#/components/responses/Problem500"
          },
          "503": {
            "$ref": "#/components/responses/Problem503"
          }
        },
        "x-rejectUnknownQueryParameters": true,
        "x-rejectDuplicateQueryParameters": true
      }
    },
    "/api/crm/v1/stores/{storeKey}/checks/{checkId}/data": {
      "get": {
        "operationId": "getCrmCheckData",
        "summary": "Page through saved safe business records",
        "description": "Reads only saved nine-check data. Does not start collection, contact Amazon, send CRM updates or include competitive intelligence. An Authorization header, if present at all, takes precedence over the CRM session cookie; invalid headers do not fall back to cookies. runId is required. All valid saved, allowlisted records are available by pagination, including all saved VOC child records; this does not assert complete Amazon collection. Fix snapshotId across pages to detect replacement. Conflicting same-ID files return 409 rather than selecting a copy. Inbox exposes result summaries only.",
        "tags": [
          "Read API"
        ],
        "security": [
          {
            "CrmBearer": []
          },
          {
            "CrmSession": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/StoreKey"
          },
          {
            "$ref": "#/components/parameters/CheckId"
          },
          {
            "$ref": "#/components/parameters/RunId"
          },
          {
            "$ref": "#/components/parameters/SnapshotId"
          },
          {
            "$ref": "#/components/parameters/Page"
          },
          {
            "$ref": "#/components/parameters/PageSize"
          }
        ],
        "responses": {
          "200": {
            "description": "Success.",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/X-Request-Id"
              },
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "Cache-Control": {
                "$ref": "#/components/headers/Cache-Control"
              },
              "Referrer-Policy": {
                "$ref": "#/components/headers/Referrer-Policy"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DataResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Problem400_3"
          },
          "401": {
            "$ref": "#/components/responses/Problem401"
          },
          "403": {
            "$ref": "#/components/responses/Problem403"
          },
          "404": {
            "$ref": "#/components/responses/Problem404"
          },
          "405": {
            "$ref": "#/components/responses/Problem405"
          },
          "409": {
            "$ref": "#/components/responses/Problem409_2"
          },
          "421": {
            "$ref": "#/components/responses/Problem421"
          },
          "429": {
            "$ref": "#/components/responses/Problem429"
          },
          "500": {
            "$ref": "#/components/responses/Problem500"
          },
          "503": {
            "$ref": "#/components/responses/Problem503"
          }
        },
        "x-rejectUnknownQueryParameters": true,
        "x-rejectDuplicateQueryParameters": true
      }
    },
    "/crm/sso/start": {
      "get": {
        "operationId": "beginCrmBrowserSso",
        "summary": "Start browser-bound CRM login",
        "description": "No existing credential is required. Creates a 120-second browser challenge and binding cookie, then redirects to a fixed configured CRM callback. The CRM must authenticate its subject and authorize the requested store before its backend issues a ticket. Never accept a caller-supplied callback URL.",
        "tags": [
          "Browser SSO"
        ],
        "security": [],
        "parameters": [
          {
            "name": "storeKey",
            "in": "query",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/StoreKey"
            }
          },
          {
            "name": "view",
            "in": "query",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/View"
            }
          },
          {
            "name": "checkId",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/CheckId"
            }
          }
        ],
        "responses": {
          "303": {
            "description": "Browser challenge created. Redirect to the configured CRM callback; no body. Separate HttpOnly browser binding lasts 120 seconds.",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/X-Request-Id"
              },
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "Cache-Control": {
                "$ref": "#/components/headers/Cache-Control"
              },
              "Referrer-Policy": {
                "$ref": "#/components/headers/Referrer-Policy"
              },
              "Location": {
                "$ref": "#/components/headers/Location"
              },
              "Set-Cookie": {
                "$ref": "#/components/headers/Set-Cookie"
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Problem400_4"
          },
          "403": {
            "$ref": "#/components/responses/Problem403"
          },
          "405": {
            "$ref": "#/components/responses/Problem405"
          },
          "421": {
            "$ref": "#/components/responses/Problem421"
          },
          "429": {
            "$ref": "#/components/responses/Problem429"
          },
          "500": {
            "$ref": "#/components/responses/Problem500"
          },
          "503": {
            "$ref": "#/components/responses/Problem503_2"
          }
        },
        "x-rejectUnknownQueryParameters": true,
        "x-rejectDuplicateQueryParameters": true,
        "x-additionalRateLimitPerMinute": 10
      }
    },
    "/crm/sso/bridge": {
      "get": {
        "operationId": "beginCrmPopupSso",
        "summary": "Open a browser-bound monitor popup from the CRM SPA",
        "description": "Register the message listener before opening the popup synchronously from the CRM button; the bridge sends its challenge once. Creates a 120-second challenge and Secure HttpOnly binding cookie, then serves an HTML postMessage bridge to the one configured CRM origin. The configured CRM origin may use HTTP; the monitor remains HTTPS. Both windows check exact origin, window source, requestId and challengeId. The CRM backend independently authenticates its current user and store rights before signing. No CRM login token or monitor API token is sent through postMessage. Requires AMZGUARD_CRM_BRIDGE_ORIGIN; does not require the redirect callback. Shares the start rate limit with /crm/sso/start.",
        "tags": [
          "Browser SSO"
        ],
        "security": [],
        "parameters": [
          {
            "name": "storeKey",
            "in": "query",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/StoreKey"
            }
          },
          {
            "name": "view",
            "in": "query",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/View"
            }
          },
          {
            "name": "checkId",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/CheckId"
            }
          },
          {
            "name": "requestId",
            "in": "query",
            "required": true,
            "description": "Fresh 32-byte base64url correlation value generated by the CRM page; not an identity or credential.",
            "schema": {
              "type": "string",
              "pattern": "^[A-Za-z0-9_-]{43}$",
              "minLength": 43,
              "maxLength": 43
            }
          }
        ],
        "responses": {
          "200": {
            "description": "HTML popup bridge. Binding token is cookie-only; the page contains public challenge metadata. No opener or a mismatched opener cannot complete authorization.",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/X-Request-Id"
              },
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "Cache-Control": {
                "$ref": "#/components/headers/Cache-Control"
              },
              "Referrer-Policy": {
                "$ref": "#/components/headers/Referrer-Policy"
              },
              "Set-Cookie": {
                "$ref": "#/components/headers/Set-Cookie"
              }
            },
            "content": {
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BridgeBadRequest"
          },
          "403": {
            "$ref": "#/components/responses/Problem403"
          },
          "405": {
            "$ref": "#/components/responses/Problem405"
          },
          "421": {
            "$ref": "#/components/responses/Problem421"
          },
          "429": {
            "$ref": "#/components/responses/Problem429"
          },
          "500": {
            "$ref": "#/components/responses/Problem500"
          },
          "503": {
            "$ref": "#/components/responses/BridgeUnavailable"
          }
        },
        "x-rejectUnknownQueryParameters": true,
        "x-rejectDuplicateQueryParameters": true,
        "x-additionalRateLimitPerMinute": 10
      }
    },
    "/api/crm/v1/sso/tickets": {
      "post": {
        "operationId": "issueCrmBrowserTicket",
        "summary": "Issue a single-use browser ticket",
        "description": "CRM backend only. Bearer authentication is mandatory; a browser session cannot issue tickets. challengeId and all destination fields must match the browser challenge. One challenge permits one issued ticket. Ticket expires after at most 60 seconds and no later than its challenge. No caller-selected redirect is accepted.",
        "tags": [
          "Browser SSO"
        ],
        "security": [
          {
            "CrmBearer": []
          }
        ],
        "parameters": [],
        "responses": {
          "201": {
            "description": "Success.",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/X-Request-Id"
              },
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "Cache-Control": {
                "$ref": "#/components/headers/Cache-Control"
              },
              "Referrer-Policy": {
                "$ref": "#/components/headers/Referrer-Policy"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TicketResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Problem400_5"
          },
          "401": {
            "$ref": "#/components/responses/Problem401_2"
          },
          "403": {
            "$ref": "#/components/responses/Problem403_2"
          },
          "405": {
            "$ref": "#/components/responses/Problem405"
          },
          "409": {
            "$ref": "#/components/responses/Problem409_3"
          },
          "413": {
            "$ref": "#/components/responses/Problem413"
          },
          "415": {
            "$ref": "#/components/responses/Problem415"
          },
          "421": {
            "$ref": "#/components/responses/Problem421"
          },
          "429": {
            "$ref": "#/components/responses/Problem429"
          },
          "500": {
            "$ref": "#/components/responses/Problem500"
          },
          "503": {
            "$ref": "#/components/responses/Problem503_3"
          }
        },
        "x-rejectUnknownQueryParameters": true,
        "x-rejectDuplicateQueryParameters": true,
        "requestBody": {
          "required": true,
          "description": "JSON object only; no unknown fields; maximum 8192 bytes. Content-Encoding must be absent or identity.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TicketRequest"
              }
            }
          }
        },
        "x-additionalRateLimitPerMinute": 20
      }
    },
    "/crm/sso": {
      "get": {
        "operationId": "getCrmSsoCompletion",
        "summary": "Load ticket exchange page",
        "description": "Loads HTML that reads the ticket from the URL fragment and POSTs JSON to /crm/sso/exchange. URL fragments are not HTTP query parameters. Every query parameter is rejected. No ticket or binding cookie is returned in HTML.",
        "tags": [
          "Browser SSO"
        ],
        "security": [],
        "parameters": [],
        "responses": {
          "200": {
            "description": "HTML document.",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/X-Request-Id"
              },
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "Cache-Control": {
                "$ref": "#/components/headers/Cache-Control"
              },
              "Referrer-Policy": {
                "$ref": "#/components/headers/Referrer-Policy"
              }
            },
            "content": {
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Problem400_6"
          },
          "405": {
            "$ref": "#/components/responses/Problem405"
          },
          "421": {
            "$ref": "#/components/responses/Problem421"
          },
          "429": {
            "$ref": "#/components/responses/Problem429"
          },
          "500": {
            "$ref": "#/components/responses/Problem500"
          },
          "503": {
            "$ref": "#/components/responses/Problem503"
          }
        },
        "x-rejectUnknownQueryParameters": true,
        "x-rejectDuplicateQueryParameters": true
      }
    },
    "/crm/sso/exchange": {
      "post": {
        "operationId": "exchangeCrmBrowserTicket",
        "summary": "Exchange a browser-bound ticket",
        "description": "Requires the independent binding cookie created by sso/start, a valid single-use ticket in JSON, and exact same-origin headers. Consumes the ticket synchronously and creates a 30-minute CRM-only, single-store session. Clears the binding cookie. Tickets/sessions are in process memory; restart or CRM configuration change invalidates them.",
        "tags": [
          "Browser SSO"
        ],
        "security": [
          {
            "CrmBrowserBinding": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/Origin"
          },
          {
            "$ref": "#/components/parameters/SecFetchSite"
          }
        ],
        "responses": {
          "200": {
            "description": "Success.",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/X-Request-Id"
              },
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "Cache-Control": {
                "$ref": "#/components/headers/Cache-Control"
              },
              "Referrer-Policy": {
                "$ref": "#/components/headers/Referrer-Policy"
              },
              "Set-Cookie": {
                "$ref": "#/components/headers/Set-Cookie"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExchangeResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Problem400_7"
          },
          "401": {
            "$ref": "#/components/responses/Problem401_3"
          },
          "403": {
            "$ref": "#/components/responses/Problem403_3"
          },
          "405": {
            "$ref": "#/components/responses/Problem405"
          },
          "413": {
            "$ref": "#/components/responses/Problem413"
          },
          "415": {
            "$ref": "#/components/responses/Problem415"
          },
          "421": {
            "$ref": "#/components/responses/Problem421"
          },
          "429": {
            "$ref": "#/components/responses/Problem429"
          },
          "500": {
            "$ref": "#/components/responses/Problem500"
          },
          "503": {
            "$ref": "#/components/responses/Problem503_3"
          }
        },
        "x-rejectUnknownQueryParameters": true,
        "x-rejectDuplicateQueryParameters": true,
        "requestBody": {
          "required": true,
          "description": "JSON object only; no unknown fields; maximum 8192 bytes. Content-Encoding must be absent or identity.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ExchangeRequest"
              }
            }
          }
        },
        "x-additionalRateLimitPerMinute": 20
      }
    },
    "/crm/logout": {
      "post": {
        "operationId": "logoutCrmBrowser",
        "summary": "End local CRM browser session",
        "description": "Requires same-origin JSON {}. Missing, expired or invalid session tokens still produce loggedOut=true. Clears only the CRM cookie and local CRM session; does not change Dashboard accounts or sessions.",
        "tags": [
          "Browser SSO"
        ],
        "security": [
          {},
          {
            "CrmSession": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/Origin"
          },
          {
            "$ref": "#/components/parameters/SecFetchSite"
          }
        ],
        "responses": {
          "200": {
            "description": "Success.",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/X-Request-Id"
              },
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "Cache-Control": {
                "$ref": "#/components/headers/Cache-Control"
              },
              "Referrer-Policy": {
                "$ref": "#/components/headers/Referrer-Policy"
              },
              "Set-Cookie": {
                "$ref": "#/components/headers/Set-Cookie"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LogoutResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Problem400_7"
          },
          "403": {
            "$ref": "#/components/responses/Problem403_4"
          },
          "405": {
            "$ref": "#/components/responses/Problem405"
          },
          "413": {
            "$ref": "#/components/responses/Problem413"
          },
          "415": {
            "$ref": "#/components/responses/Problem415"
          },
          "421": {
            "$ref": "#/components/responses/Problem421"
          },
          "429": {
            "$ref": "#/components/responses/Problem429"
          },
          "500": {
            "$ref": "#/components/responses/Problem500"
          },
          "503": {
            "$ref": "#/components/responses/Problem503"
          }
        },
        "x-rejectUnknownQueryParameters": true,
        "x-rejectDuplicateQueryParameters": true,
        "requestBody": {
          "required": true,
          "description": "JSON object only; no unknown fields; maximum 8192 bytes. Content-Encoding must be absent or identity.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LogoutRequest"
              }
            }
          }
        }
      }
    },
    "/crm": {
      "get": {
        "operationId": "getCrmPortalWithoutSlash",
        "summary": "Load CRM read-only portal",
        "description": "Requires the dedicated CRM session cookie; Dashboard cookies and bearer headers do not authorize this page. No query parameters.",
        "tags": [
          "Browser SSO"
        ],
        "security": [
          {
            "CrmSession": []
          }
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "HTML document.",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/X-Request-Id"
              },
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "Cache-Control": {
                "$ref": "#/components/headers/Cache-Control"
              },
              "Referrer-Policy": {
                "$ref": "#/components/headers/Referrer-Policy"
              }
            },
            "content": {
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Problem400"
          },
          "401": {
            "$ref": "#/components/responses/Problem401_4"
          },
          "403": {
            "$ref": "#/components/responses/Problem403"
          },
          "405": {
            "$ref": "#/components/responses/Problem405"
          },
          "421": {
            "$ref": "#/components/responses/Problem421"
          },
          "429": {
            "$ref": "#/components/responses/Problem429"
          },
          "500": {
            "$ref": "#/components/responses/Problem500"
          },
          "503": {
            "$ref": "#/components/responses/Problem503"
          }
        },
        "x-rejectUnknownQueryParameters": true,
        "x-rejectDuplicateQueryParameters": true
      }
    },
    "/crm/": {
      "get": {
        "operationId": "getCrmPortal",
        "summary": "Load CRM read-only portal",
        "description": "Requires the dedicated CRM session cookie; Dashboard cookies and bearer headers do not authorize this page. No query parameters.",
        "tags": [
          "Browser SSO"
        ],
        "security": [
          {
            "CrmSession": []
          }
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "HTML document.",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/X-Request-Id"
              },
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "Cache-Control": {
                "$ref": "#/components/headers/Cache-Control"
              },
              "Referrer-Policy": {
                "$ref": "#/components/headers/Referrer-Policy"
              }
            },
            "content": {
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Problem400"
          },
          "401": {
            "$ref": "#/components/responses/Problem401_4"
          },
          "403": {
            "$ref": "#/components/responses/Problem403"
          },
          "405": {
            "$ref": "#/components/responses/Problem405"
          },
          "421": {
            "$ref": "#/components/responses/Problem421"
          },
          "429": {
            "$ref": "#/components/responses/Problem429"
          },
          "500": {
            "$ref": "#/components/responses/Problem500"
          },
          "503": {
            "$ref": "#/components/responses/Problem503"
          }
        },
        "x-rejectUnknownQueryParameters": true,
        "x-rejectDuplicateQueryParameters": true
      }
    },
    "/crm/session": {
      "get": {
        "operationId": "getCrmBrowserSession",
        "summary": "Get current browser scope",
        "description": "Requires the dedicated CRM cookie and exposes only store/check/view navigation, expiry and readOnly. Subject, client credentials and Dashboard roles are not returned.",
        "tags": [
          "Browser SSO"
        ],
        "security": [
          {
            "CrmSession": []
          }
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Success.",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/X-Request-Id"
              },
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "Cache-Control": {
                "$ref": "#/components/headers/Cache-Control"
              },
              "Referrer-Policy": {
                "$ref": "#/components/headers/Referrer-Policy"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SessionResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Problem400"
          },
          "401": {
            "$ref": "#/components/responses/Problem401_4"
          },
          "403": {
            "$ref": "#/components/responses/Problem403"
          },
          "405": {
            "$ref": "#/components/responses/Problem405"
          },
          "421": {
            "$ref": "#/components/responses/Problem421"
          },
          "429": {
            "$ref": "#/components/responses/Problem429"
          },
          "500": {
            "$ref": "#/components/responses/Problem500"
          },
          "503": {
            "$ref": "#/components/responses/Problem503"
          }
        },
        "x-rejectUnknownQueryParameters": true,
        "x-rejectDuplicateQueryParameters": true
      }
    }
  },
  "components": {
    "securitySchemes": {
      "CrmBearer": {
        "type": "http",
        "scheme": "bearer",
        "description": "Configured opaque machine API token in Authorization: Bearer <token>, with exactly one space. Scheme matching is case-insensitive; the token must match exactly. Not JWT/OAuth. Cookies/query parameters cannot substitute for bearer on ticket issuance. On dual-auth API routes a present invalid Authorization header prevents cookie fallback."
      },
      "CrmSession": {
        "type": "apiKey",
        "in": "cookie",
        "name": "__Host-amzguard_crm",
        "description": "Dedicated opaque browser session from ticket exchange; one store, read-only, 30 minutes, Secure/HttpOnly/Path=/SameSite=Lax. Independent of Dashboard authentication. Scope is revalidated on access."
      },
      "CrmBrowserBinding": {
        "type": "apiKey",
        "in": "cookie",
        "name": "__Host-amzguard_crm_binding",
        "description": "Separate 120-second HttpOnly/Secure browser-binding cookie from sso/start. A valid ticket alone cannot be exchanged without this cookie."
      }
    },
    "schemas": {
      "CheckId": {
        "type": "string",
        "enum": [
          "store-health",
          "performance",
          "feedback",
          "reviews",
          "asin-health",
          "outlet",
          "voc",
          "ads-status",
          "inbox"
        ]
      },
      "BusinessCheckId": {
        "type": "string",
        "enum": [
          "store-health",
          "performance",
          "feedback",
          "reviews",
          "asin-health",
          "outlet",
          "voc",
          "ads-status"
        ]
      },
      "StoreKey": {
        "type": "string",
        "pattern": "^[A-Za-z0-9][A-Za-z0-9._-]{0,63}$"
      },
      "View": {
        "type": "string",
        "enum": [
          "results",
          "data"
        ],
        "description": "Initial navigation hint only; storeKey is the authorization scope. A session can read all nine checks for its one authorized store."
      },
      "Date": {
        "type": "string",
        "format": "date",
        "pattern": "^\\d{4}-\\d{2}-\\d{2}$"
      },
      "Timestamp": {
        "type": "string",
        "format": "date-time",
        "description": "ISO 8601 UTC timestamp. Null, where permitted, means the saved source did not have a valid timestamp."
      },
      "StatusCode": {
        "type": "string",
        "pattern": "^[A-Z][A-Z0-9_]{0,99}$",
        "description": "Saved status normalized to this syntax; malformed or missing values become UNKNOWN. Future well-formed status codes are retained; clients must not treat an unfamiliar code as healthy."
      },
      "Severity": {
        "type": "string",
        "enum": [
          "OK",
          "WARN",
          "CRITICAL",
          "ERROR"
        ]
      },
      "Asin": {
        "type": "string",
        "pattern": "^[A-Z0-9]{10}$"
      },
      "RunId": {
        "type": "string",
        "pattern": "^[A-Za-z0-9][A-Za-z0-9._:-]{0,299}$",
        "description": "Select an ID returned by runs. Safe saved IDs are retained; unsafe IDs become opaque:<64 lowercase hex>; absent IDs become stable legacy:<64 lowercase hex>. Derived IDs use SHA-256 of canonical JSON encoding. No synthetic combined-latest run is selectable."
      },
      "RunIdSource": {
        "type": "string",
        "enum": [
          "report",
          "opaque-report-id",
          "legacy-report"
        ]
      },
      "SnapshotId": {
        "type": "string",
        "pattern": "^[a-f0-9]{64}$",
        "description": "SHA-256 of the canonical JSON of the entire saved report, including other stores if present. Only the requested authorized store is projected. Bind subsequent data pages to this digest to detect replacement."
      },
      "OpaqueCredential": {
        "type": "string",
        "pattern": "^[A-Za-z0-9_-]{43}$",
        "writeOnly": true,
        "description": "Opaque random value; never log or put in a query string. This is not a JWT or OAuth credential."
      },
      "Scalar": {
        "type": [
          "string",
          "number",
          "boolean",
          "null"
        ]
      },
      "BusinessValue": {
        "anyOf": [
          {
            "$ref": "#/components/schemas/Scalar"
          },
          {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Scalar"
            }
          }
        ],
        "description": "Saved allowlisted scalar or array of scalars, after text redaction. Nested objects are omitted. Historical field types are retained rather than coerced to a semantic type."
      },
      "Store": {
        "type": "object",
        "properties": {
          "storeKey": {
            "$ref": "#/components/schemas/StoreKey"
          },
          "storeName": {
            "type": "string"
          },
          "market": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          }
        },
        "required": [
          "storeKey",
          "storeName",
          "market"
        ],
        "additionalProperties": false
      },
      "ListCoverage": {
        "type": "object",
        "properties": {
          "complete": {
            "type": [
              "number",
              "boolean"
            ]
          },
          "total": {
            "type": [
              "number",
              "boolean"
            ]
          },
          "rowCount": {
            "type": [
              "number",
              "boolean"
            ]
          },
          "asinCount": {
            "type": [
              "number",
              "boolean"
            ]
          },
          "pagesRead": {
            "type": [
              "number",
              "boolean"
            ]
          },
          "pageSize": {
            "type": [
              "number",
              "boolean"
            ]
          }
        },
        "required": [],
        "additionalProperties": false
      },
      "BusinessMetrics": {
        "type": "object",
        "properties": {
          "abnormalTrendCount": {
            "$ref": "#/components/schemas/BusinessValue"
          },
          "accountHealthRating": {
            "$ref": "#/components/schemas/BusinessValue"
          },
          "accountHealthRatingDelta": {
            "$ref": "#/components/schemas/BusinessValue"
          },
          "accountHealthRatingPrevious": {
            "$ref": "#/components/schemas/BusinessValue"
          },
          "activeBusinessEventCount": {
            "$ref": "#/components/schemas/BusinessValue"
          },
          "aggregateSource": {
            "$ref": "#/components/schemas/BusinessValue"
          },
          "aggregateTotalAdjusted": {
            "$ref": "#/components/schemas/BusinessValue"
          },
          "amazonFulfillmentExcludedLowCount": {
            "$ref": "#/components/schemas/BusinessValue"
          },
          "amazonFulfillmentExclusionEvidenceAgree": {
            "$ref": "#/components/schemas/BusinessValue"
          },
          "ambiguousActionCount": {
            "$ref": "#/components/schemas/BusinessValue"
          },
          "asinCount": {
            "$ref": "#/components/schemas/BusinessValue"
          },
          "average": {
            "$ref": "#/components/schemas/BusinessValue"
          },
          "badSections": {
            "$ref": "#/components/schemas/BusinessValue"
          },
          "baseline": {
            "$ref": "#/components/schemas/BusinessValue"
          },
          "bothRatingEvidence": {
            "$ref": "#/components/schemas/BusinessValue"
          },
          "brandLowCount": {
            "$ref": "#/components/schemas/BusinessValue"
          },
          "businessEvidenceCount": {
            "$ref": "#/components/schemas/BusinessValue"
          },
          "businessStatus": {
            "$ref": "#/components/schemas/BusinessValue"
          },
          "campaignCount": {
            "$ref": "#/components/schemas/BusinessValue"
          },
          "checkSkipped": {
            "$ref": "#/components/schemas/BusinessValue"
          },
          "collectionStatus": {
            "$ref": "#/components/schemas/BusinessValue"
          },
          "confirmedEmpty": {
            "$ref": "#/components/schemas/BusinessValue"
          },
          "confirmedZero": {
            "$ref": "#/components/schemas/BusinessValue"
          },
          "countConflict": {
            "$ref": "#/components/schemas/BusinessValue"
          },
          "date": {
            "$ref": "#/components/schemas/BusinessValue"
          },
          "dealCount": {
            "$ref": "#/components/schemas/BusinessValue"
          },
          "detailFailures": {
            "$ref": "#/components/schemas/BusinessValue"
          },
          "domActivity": {
            "$ref": "#/components/schemas/BusinessValue"
          },
          "domAmazonFulfillmentExcludedLowCount": {
            "$ref": "#/components/schemas/BusinessValue"
          },
          "domComplete": {
            "$ref": "#/components/schemas/BusinessValue"
          },
          "domCountConflict": {
            "$ref": "#/components/schemas/BusinessValue"
          },
          "domEnabled": {
            "$ref": "#/components/schemas/BusinessValue"
          },
          "domHealthyNormalSignals": {
            "$ref": "#/components/schemas/BusinessValue"
          },
          "domMetricSignals": {
            "$ref": "#/components/schemas/BusinessValue"
          },
          "domNonzeroViolationSignals": {
            "$ref": "#/components/schemas/BusinessValue"
          },
          "domPaused": {
            "$ref": "#/components/schemas/BusinessValue"
          },
          "domRating": {
            "$ref": "#/components/schemas/BusinessValue"
          },
          "domRawTotal": {
            "$ref": "#/components/schemas/BusinessValue"
          },
          "domReliable": {
            "$ref": "#/components/schemas/BusinessValue"
          },
          "domReportedTotal": {
            "$ref": "#/components/schemas/BusinessValue"
          },
          "domReportedTotalReliable": {
            "$ref": "#/components/schemas/BusinessValue"
          },
          "domReviewCount": {
            "$ref": "#/components/schemas/BusinessValue"
          },
          "domTotal": {
            "$ref": "#/components/schemas/BusinessValue"
          },
          "domZeroNormalSignals": {
            "$ref": "#/components/schemas/BusinessValue"
          },
          "duplicateActionCount": {
            "$ref": "#/components/schemas/BusinessValue"
          },
          "enabled": {
            "$ref": "#/components/schemas/BusinessValue"
          },
          "enabledDomEmpty": {
            "$ref": "#/components/schemas/BusinessValue"
          },
          "enabledDomPositive": {
            "$ref": "#/components/schemas/BusinessValue"
          },
          "enabledExists": {
            "$ref": "#/components/schemas/BusinessValue"
          },
          "enabledFilter": {
            "$ref": "#/components/schemas/BusinessValue"
          },
          "enabledSweepComplete": {
            "$ref": "#/components/schemas/BusinessValue"
          },
          "enabledTextEmpty": {
            "$ref": "#/components/schemas/BusinessValue"
          },
          "enabledTextPositive": {
            "$ref": "#/components/schemas/BusinessValue"
          },
          "evidenceComplete": {
            "$ref": "#/components/schemas/BusinessValue"
          },
          "evidenceConflict": {
            "$ref": "#/components/schemas/BusinessValue"
          },
          "exceptionCount": {
            "$ref": "#/components/schemas/BusinessValue"
          },
          "excluded": {
            "$ref": "#/components/schemas/BusinessValue"
          },
          "excludedOtherStoreCount": {
            "$ref": "#/components/schemas/BusinessValue"
          },
          "excludedOutOfScopeCount": {
            "$ref": "#/components/schemas/BusinessValue"
          },
          "expected": {
            "$ref": "#/components/schemas/BusinessValue"
          },
          "hasCart": {
            "$ref": "#/components/schemas/BusinessValue"
          },
          "headerMappedRowCount": {
            "$ref": "#/components/schemas/BusinessValue"
          },
          "headerMappingCompleteRowCount": {
            "$ref": "#/components/schemas/BusinessValue"
          },
          "headerMappingIncomplete": {
            "$ref": "#/components/schemas/BusinessValue"
          },
          "historicalIgnoredCount": {
            "$ref": "#/components/schemas/BusinessValue"
          },
          "ignoredFilterControlCount": {
            "$ref": "#/components/schemas/BusinessValue"
          },
          "limited": {
            "$ref": "#/components/schemas/BusinessValue"
          },
          "listCoverageIncomplete": {
            "$ref": "#/components/schemas/BusinessValue"
          },
          "listingActive": {
            "$ref": "#/components/schemas/BusinessValue"
          },
          "listingState": {
            "$ref": "#/components/schemas/BusinessValue"
          },
          "listingStateConflict": {
            "$ref": "#/components/schemas/BusinessValue"
          },
          "lowCount": {
            "$ref": "#/components/schemas/BusinessValue"
          },
          "majorityRule": {
            "$ref": "#/components/schemas/BusinessValue"
          },
          "matching": {
            "$ref": "#/components/schemas/BusinessValue"
          },
          "matchingPercent": {
            "$ref": "#/components/schemas/BusinessValue"
          },
          "nameContains": {
            "$ref": "#/components/schemas/BusinessValue"
          },
          "nameFilterVerified": {
            "$ref": "#/components/schemas/BusinessValue"
          },
          "newBusinessEventCount": {
            "$ref": "#/components/schemas/BusinessValue"
          },
          "newCount": {
            "$ref": "#/components/schemas/BusinessValue"
          },
          "newLowCount": {
            "$ref": "#/components/schemas/BusinessValue"
          },
          "nonzeroViolationSignals": {
            "$ref": "#/components/schemas/BusinessValue"
          },
          "normalEvidenceComplete": {
            "$ref": "#/components/schemas/BusinessValue"
          },
          "opened": {
            "$ref": "#/components/schemas/BusinessValue"
          },
          "ownedLowCount": {
            "$ref": "#/components/schemas/BusinessValue"
          },
          "ownershipComplete": {
            "$ref": "#/components/schemas/BusinessValue"
          },
          "ownershipFiltered": {
            "$ref": "#/components/schemas/BusinessValue"
          },
          "ownershipInventoryCount": {
            "$ref": "#/components/schemas/BusinessValue"
          },
          "ownershipPendingAsins": {
            "$ref": "#/components/schemas/BusinessValue"
          },
          "ownershipPendingCount": {
            "$ref": "#/components/schemas/BusinessValue"
          },
          "ownershipReady": {
            "$ref": "#/components/schemas/BusinessValue"
          },
          "ownershipSource": {
            "$ref": "#/components/schemas/BusinessValue"
          },
          "pageNotFound": {
            "$ref": "#/components/schemas/BusinessValue"
          },
          "paginationComplete": {
            "$ref": "#/components/schemas/BusinessValue"
          },
          "paused": {
            "$ref": "#/components/schemas/BusinessValue"
          },
          "pausedDomEmpty": {
            "$ref": "#/components/schemas/BusinessValue"
          },
          "pausedDomPositive": {
            "$ref": "#/components/schemas/BusinessValue"
          },
          "pausedFilter": {
            "$ref": "#/components/schemas/BusinessValue"
          },
          "pausedSweepComplete": {
            "$ref": "#/components/schemas/BusinessValue"
          },
          "pausedTextEmpty": {
            "$ref": "#/components/schemas/BusinessValue"
          },
          "pausedTextPositive": {
            "$ref": "#/components/schemas/BusinessValue"
          },
          "pausedZero": {
            "$ref": "#/components/schemas/BusinessValue"
          },
          "poorAsins": {
            "$ref": "#/components/schemas/BusinessValue"
          },
          "poorCount": {
            "$ref": "#/components/schemas/BusinessValue"
          },
          "portfolioCount": {
            "$ref": "#/components/schemas/BusinessValue"
          },
          "prevRating": {
            "$ref": "#/components/schemas/BusinessValue"
          },
          "prevRatingDate": {
            "$ref": "#/components/schemas/BusinessValue"
          },
          "rating": {
            "$ref": "#/components/schemas/BusinessValue"
          },
          "ratingConflict": {
            "$ref": "#/components/schemas/BusinessValue"
          },
          "ratingDelta": {
            "$ref": "#/components/schemas/BusinessValue"
          },
          "recordedBusinessEventCount": {
            "$ref": "#/components/schemas/BusinessValue"
          },
          "recordedExceptionCount": {
            "$ref": "#/components/schemas/BusinessValue"
          },
          "recordedLowCount": {
            "$ref": "#/components/schemas/BusinessValue"
          },
          "redTotal": {
            "$ref": "#/components/schemas/BusinessValue"
          },
          "redWarnings": {
            "$ref": "#/components/schemas/BusinessValue"
          },
          "registered": {
            "$ref": "#/components/schemas/BusinessValue"
          },
          "reportedTotalGrowth": {
            "$ref": "#/components/schemas/BusinessValue"
          },
          "reportedTotalsAgree": {
            "$ref": "#/components/schemas/BusinessValue"
          },
          "reviewCount": {
            "$ref": "#/components/schemas/BusinessValue"
          },
          "sameDayCountsAgree": {
            "$ref": "#/components/schemas/BusinessValue"
          },
          "scanComplete": {
            "$ref": "#/components/schemas/BusinessValue"
          },
          "scopedUnavailableCorroborated": {
            "$ref": "#/components/schemas/BusinessValue"
          },
          "source": {
            "$ref": "#/components/schemas/BusinessValue"
          },
          "sourceStateConflict": {
            "$ref": "#/components/schemas/BusinessValue"
          },
          "sourceTotalConflict": {
            "$ref": "#/components/schemas/BusinessValue"
          },
          "stateSource": {
            "$ref": "#/components/schemas/BusinessValue"
          },
          "structuredComplete": {
            "$ref": "#/components/schemas/BusinessValue"
          },
          "structuredCount": {
            "$ref": "#/components/schemas/BusinessValue"
          },
          "textActivity": {
            "$ref": "#/components/schemas/BusinessValue"
          },
          "textActivityReliable": {
            "$ref": "#/components/schemas/BusinessValue"
          },
          "textAmazonFulfillmentExcludedLowCount": {
            "$ref": "#/components/schemas/BusinessValue"
          },
          "textComplete": {
            "$ref": "#/components/schemas/BusinessValue"
          },
          "textCountConflict": {
            "$ref": "#/components/schemas/BusinessValue"
          },
          "textCountCorroboratesDom": {
            "$ref": "#/components/schemas/BusinessValue"
          },
          "textEnabled": {
            "$ref": "#/components/schemas/BusinessValue"
          },
          "textHealthyNormalSignals": {
            "$ref": "#/components/schemas/BusinessValue"
          },
          "textMetricSignals": {
            "$ref": "#/components/schemas/BusinessValue"
          },
          "textNonzeroViolationSignals": {
            "$ref": "#/components/schemas/BusinessValue"
          },
          "textPaused": {
            "$ref": "#/components/schemas/BusinessValue"
          },
          "textRating": {
            "$ref": "#/components/schemas/BusinessValue"
          },
          "textRawTotal": {
            "$ref": "#/components/schemas/BusinessValue"
          },
          "textReliable": {
            "$ref": "#/components/schemas/BusinessValue"
          },
          "textReportedTotal": {
            "$ref": "#/components/schemas/BusinessValue"
          },
          "textReportedTotalReliable": {
            "$ref": "#/components/schemas/BusinessValue"
          },
          "textReviewCount": {
            "$ref": "#/components/schemas/BusinessValue"
          },
          "textTotal": {
            "$ref": "#/components/schemas/BusinessValue"
          },
          "textWarnings": {
            "$ref": "#/components/schemas/BusinessValue"
          },
          "textZeroNormalSignals": {
            "$ref": "#/components/schemas/BusinessValue"
          },
          "todayTotal": {
            "$ref": "#/components/schemas/BusinessValue"
          },
          "total": {
            "$ref": "#/components/schemas/BusinessValue"
          },
          "unavailable": {
            "$ref": "#/components/schemas/BusinessValue"
          },
          "unknown": {
            "$ref": "#/components/schemas/BusinessValue"
          },
          "unknownDateLowCount": {
            "$ref": "#/components/schemas/BusinessValue"
          },
          "zeroEnabledSources": {
            "$ref": "#/components/schemas/BusinessValue"
          },
          "listCoverage": {
            "$ref": "#/components/schemas/ListCoverage"
          }
        },
        "required": [],
        "additionalProperties": false,
        "description": "Exact output allowlist for non-Inbox metrics. A missing field was absent or not an allowed scalar shape. No raw report metrics are returned."
      },
      "InboxMetrics": {
        "type": "object",
        "properties": {
          "badgeCount": {
            "anyOf": [
              {
                "type": "number"
              },
              {
                "type": "null"
              }
            ]
          },
          "boldRowCount": {
            "anyOf": [
              {
                "type": "number"
              },
              {
                "type": "null"
              }
            ]
          },
          "domDeclaredUnread": {
            "anyOf": [
              {
                "type": "number"
              },
              {
                "type": "null"
              }
            ]
          },
          "domNeedsResponseRows": {
            "anyOf": [
              {
                "type": "number"
              },
              {
                "type": "null"
              }
            ]
          },
          "domUnreadCount": {
            "anyOf": [
              {
                "type": "number"
              },
              {
                "type": "null"
              }
            ]
          },
          "textDeclaredUnread": {
            "anyOf": [
              {
                "type": "number"
              },
              {
                "type": "null"
              }
            ]
          },
          "textNeedsResponsePhrases": {
            "anyOf": [
              {
                "type": "number"
              },
              {
                "type": "null"
              }
            ]
          },
          "textRows": {
            "anyOf": [
              {
                "type": "number"
              },
              {
                "type": "null"
              }
            ]
          },
          "textUnreadCount": {
            "anyOf": [
              {
                "type": "number"
              },
              {
                "type": "null"
              }
            ]
          },
          "todayUnreadCount": {
            "anyOf": [
              {
                "type": "number"
              },
              {
                "type": "null"
              }
            ]
          },
          "totalRows": {
            "anyOf": [
              {
                "type": "number"
              },
              {
                "type": "null"
              }
            ]
          },
          "unreadCount": {
            "anyOf": [
              {
                "type": "number"
              },
              {
                "type": "null"
              }
            ]
          },
          "visibleFrameCount": {
            "anyOf": [
              {
                "type": "number"
              },
              {
                "type": "null"
              }
            ]
          },
          "confirmedEmpty": {
            "type": "boolean"
          },
          "countsAgree": {
            "type": "boolean"
          },
          "frameContentReadable": {
            "type": "boolean"
          },
          "listOutsideMainDocument": {
            "type": "boolean"
          },
          "markerVocabulary": {
            "type": "boolean"
          },
          "paginationComplete": {
            "type": "boolean"
          },
          "responseNeededFilter": {
            "type": "boolean"
          },
          "textChromeOnly": {
            "type": "boolean"
          },
          "textFilterCorroborated": {
            "type": "boolean"
          },
          "date": {
            "$ref": "#/components/schemas/Date"
          },
          "oldestUnreadAt": {
            "$ref": "#/components/schemas/Date"
          },
          "businessStatus": {
            "$ref": "#/components/schemas/StatusCode"
          },
          "collectionStatus": {
            "$ref": "#/components/schemas/StatusCode"
          }
        },
        "required": [],
        "additionalProperties": false,
        "description": "Only typed counts, flags and calendar dates. No message/order identifiers, message rows, subjects or free text are projected."
      },
      "BusinessItem": {
        "type": "object",
        "properties": {
          "abnormalTrend": {
            "$ref": "#/components/schemas/BusinessValue"
          },
          "asin": {
            "$ref": "#/components/schemas/BusinessValue"
          },
          "brand": {
            "$ref": "#/components/schemas/BusinessValue"
          },
          "campaignId": {
            "$ref": "#/components/schemas/BusinessValue"
          },
          "campaignName": {
            "$ref": "#/components/schemas/BusinessValue"
          },
          "campaignStatus": {
            "$ref": "#/components/schemas/BusinessValue"
          },
          "category": {
            "$ref": "#/components/schemas/BusinessValue"
          },
          "childAsin": {
            "$ref": "#/components/schemas/BusinessValue"
          },
          "count": {
            "$ref": "#/components/schemas/BusinessValue"
          },
          "currency": {
            "$ref": "#/components/schemas/BusinessValue"
          },
          "customerIssue": {
            "$ref": "#/components/schemas/BusinessValue"
          },
          "customerIssues": {
            "$ref": "#/components/schemas/BusinessValue"
          },
          "cxHealth": {
            "$ref": "#/components/schemas/BusinessValue"
          },
          "date": {
            "$ref": "#/components/schemas/BusinessValue"
          },
          "delivery": {
            "$ref": "#/components/schemas/BusinessValue"
          },
          "detailComplete": {
            "$ref": "#/components/schemas/BusinessValue"
          },
          "detailStatus": {
            "$ref": "#/components/schemas/BusinessValue"
          },
          "disposition": {
            "$ref": "#/components/schemas/BusinessValue"
          },
          "effective": {
            "$ref": "#/components/schemas/BusinessValue"
          },
          "feedbackId": {
            "$ref": "#/components/schemas/BusinessValue"
          },
          "fnsku": {
            "$ref": "#/components/schemas/BusinessValue"
          },
          "id": {
            "$ref": "#/components/schemas/BusinessValue"
          },
          "identifier": {
            "$ref": "#/components/schemas/BusinessValue"
          },
          "isNew": {
            "$ref": "#/components/schemas/BusinessValue"
          },
          "key": {
            "$ref": "#/components/schemas/BusinessValue"
          },
          "msku": {
            "$ref": "#/components/schemas/BusinessValue"
          },
          "name": {
            "$ref": "#/components/schemas/BusinessValue"
          },
          "ncxOrders": {
            "$ref": "#/components/schemas/BusinessValue"
          },
          "ncxRatePct": {
            "$ref": "#/components/schemas/BusinessValue"
          },
          "offerId": {
            "$ref": "#/components/schemas/BusinessValue"
          },
          "orderId": {
            "$ref": "#/components/schemas/BusinessValue"
          },
          "ownership": {
            "$ref": "#/components/schemas/BusinessValue"
          },
          "ownershipAsin": {
            "$ref": "#/components/schemas/BusinessValue"
          },
          "ownershipSource": {
            "$ref": "#/components/schemas/BusinessValue"
          },
          "parentAsin": {
            "$ref": "#/components/schemas/BusinessValue"
          },
          "portfolioId": {
            "$ref": "#/components/schemas/BusinessValue"
          },
          "portfolioName": {
            "$ref": "#/components/schemas/BusinessValue"
          },
          "portfolioStatus": {
            "$ref": "#/components/schemas/BusinessValue"
          },
          "rating": {
            "$ref": "#/components/schemas/BusinessValue"
          },
          "reason": {
            "$ref": "#/components/schemas/BusinessValue"
          },
          "recordId": {
            "$ref": "#/components/schemas/BusinessValue"
          },
          "relatedId": {
            "$ref": "#/components/schemas/BusinessValue"
          },
          "removalFee": {
            "$ref": "#/components/schemas/BusinessValue"
          },
          "requestDate": {
            "$ref": "#/components/schemas/BusinessValue"
          },
          "requestedQuantity": {
            "$ref": "#/components/schemas/BusinessValue"
          },
          "response": {
            "$ref": "#/components/schemas/BusinessValue"
          },
          "returnId": {
            "$ref": "#/components/schemas/BusinessValue"
          },
          "returnRatePct": {
            "$ref": "#/components/schemas/BusinessValue"
          },
          "returnReason": {
            "$ref": "#/components/schemas/BusinessValue"
          },
          "returnReasons": {
            "$ref": "#/components/schemas/BusinessValue"
          },
          "reviewId": {
            "$ref": "#/components/schemas/BusinessValue"
          },
          "sellerSku": {
            "$ref": "#/components/schemas/BusinessValue"
          },
          "sharedOwnership": {
            "$ref": "#/components/schemas/BusinessValue"
          },
          "shippedQuantity": {
            "$ref": "#/components/schemas/BusinessValue"
          },
          "sku": {
            "$ref": "#/components/schemas/BusinessValue"
          },
          "source": {
            "$ref": "#/components/schemas/BusinessValue"
          },
          "stars": {
            "$ref": "#/components/schemas/BusinessValue"
          },
          "state": {
            "$ref": "#/components/schemas/BusinessValue"
          },
          "statusText": {
            "$ref": "#/components/schemas/BusinessValue"
          },
          "summary": {
            "$ref": "#/components/schemas/BusinessValue"
          },
          "text": {
            "$ref": "#/components/schemas/BusinessValue"
          },
          "title": {
            "$ref": "#/components/schemas/BusinessValue"
          },
          "toggle": {
            "$ref": "#/components/schemas/BusinessValue"
          },
          "totalOrders": {
            "$ref": "#/components/schemas/BusinessValue"
          },
          "type": {
            "$ref": "#/components/schemas/BusinessValue"
          },
          "updatedAt": {
            "$ref": "#/components/schemas/BusinessValue"
          }
        },
        "required": [],
        "additionalProperties": false,
        "description": "Exact saved business-item allowlist. Order identifiers may remain outside Inbox. Explicit buyer identity/contact and secret fields are excluded; known private values and recognized text patterns are redacted in permitted business strings. This rule-based filter does not identify every possible personal detail in arbitrary prose. Raw body/context, internal paths and screenshots are not public fields."
      },
      "EvidencePart": {
        "type": "object",
        "properties": {
          "available": {
            "type": "boolean"
          },
          "landed": {
            "type": "boolean"
          },
          "reliable": {
            "type": "boolean"
          },
          "pageConfirmed": {
            "type": "boolean"
          },
          "cardFound": {
            "type": "boolean"
          },
          "complete": {
            "type": "boolean"
          },
          "pageComplete": {
            "type": "boolean"
          },
          "looksLikeLogin": {
            "type": "boolean"
          },
          "looksBlocked": {
            "type": "boolean"
          },
          "status": {
            "$ref": "#/components/schemas/StatusCode"
          },
          "total": {
            "anyOf": [
              {
                "type": "number"
              },
              {
                "type": "null"
              }
            ]
          },
          "lowCount": {
            "anyOf": [
              {
                "type": "number"
              },
              {
                "type": "null"
              }
            ]
          },
          "rowCount": {
            "anyOf": [
              {
                "type": "number"
              },
              {
                "type": "null"
              }
            ]
          },
          "rating": {
            "anyOf": [
              {
                "type": "number"
              },
              {
                "type": "null"
              }
            ]
          },
          "score": {
            "anyOf": [
              {
                "type": "number"
              },
              {
                "type": "null"
              }
            ]
          },
          "enabled": {
            "anyOf": [
              {
                "type": "number"
              },
              {
                "type": "null"
              }
            ]
          },
          "paused": {
            "anyOf": [
              {
                "type": "number"
              },
              {
                "type": "null"
              }
            ]
          }
        },
        "required": [
          "available"
        ],
        "additionalProperties": false,
        "description": "available means a nonempty saved object without an error property. It is not proof of a successful live collection or complete pagination. Other fields are emitted only when present in the permitted saved shape."
      },
      "Evidence": {
        "type": "object",
        "properties": {
          "dom": {
            "$ref": "#/components/schemas/EvidencePart"
          },
          "text": {
            "$ref": "#/components/schemas/EvidencePart"
          },
          "bothAvailable": {
            "type": "boolean"
          }
        },
        "required": [
          "dom",
          "text",
          "bothAvailable"
        ],
        "additionalProperties": false
      },
      "Source": {
        "type": "object",
        "properties": {
          "runId": {
            "$ref": "#/components/schemas/RunId"
          },
          "runIdSource": {
            "$ref": "#/components/schemas/RunIdSource"
          },
          "snapshotId": {
            "$ref": "#/components/schemas/SnapshotId"
          },
          "slot": {
            "anyOf": [
              {
                "type": "string",
                "pattern": "^[a-zA-Z0-9_-]{1,60}$"
              },
              {
                "type": "null"
              }
            ]
          },
          "collectedAt": {
            "$ref": "#/components/schemas/Timestamp"
          },
          "checkedAt": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/Timestamp"
              },
              {
                "type": "null"
              }
            ]
          },
          "timeSource": {
            "type": "string",
            "enum": [
              "result.checkedAt",
              "report.finishedAt",
              "report.startedAt",
              "report._ingestedAt",
              "file.mtime"
            ]
          },
          "collectionDate": {
            "$ref": "#/components/schemas/Date"
          },
          "reportStartedAt": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/Timestamp"
              },
              {
                "type": "null"
              }
            ]
          },
          "reportFinishedAt": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/Timestamp"
              },
              {
                "type": "null"
              }
            ]
          },
          "timestampValid": {
            "type": "boolean"
          },
          "ageMs": {
            "type": "number",
            "minimum": 0
          },
          "stale": {
            "type": "boolean"
          }
        },
        "required": [
          "runId",
          "runIdSource",
          "snapshotId",
          "slot",
          "collectedAt",
          "checkedAt",
          "timeSource",
          "collectionDate",
          "reportStartedAt",
          "reportFinishedAt",
          "timestampValid",
          "ageMs",
          "stale"
        ],
        "additionalProperties": false,
        "description": "Per-result original run provenance. collectedAt uses the first valid time indicated by timeSource, with file mtime only as the last fallback; it is not always a confirmed sample time. Times more than five minutes in the future mark the result invalid and stale. Response generation does not initiate or refresh Amazon sampling."
      },
      "ResultCommon": {
        "type": "object",
        "properties": {
          "checkId": {
            "$ref": "#/components/schemas/CheckId"
          },
          "storeKey": {
            "$ref": "#/components/schemas/StoreKey"
          },
          "market": {
            "anyOf": [
              {
                "type": "string",
                "pattern": "^[A-Z]{2,3}$"
              },
              {
                "type": "null"
              }
            ]
          },
          "asin": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/Asin"
              },
              {
                "type": "null"
              }
            ]
          },
          "status": {
            "$ref": "#/components/schemas/StatusCode"
          },
          "severity": {
            "$ref": "#/components/schemas/Severity"
          },
          "recordedSeverity": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/Severity"
              },
              {
                "type": "null"
              }
            ]
          },
          "ok": {
            "anyOf": [
              {
                "type": "boolean"
              },
              {
                "type": "null"
              }
            ]
          },
          "recordedOk": {
            "anyOf": [
              {
                "type": "boolean"
              },
              {
                "type": "null"
              }
            ]
          },
          "presentationAdjusted": {
            "type": "boolean"
          },
          "businessStatus": {
            "$ref": "#/components/schemas/StatusCode"
          },
          "collectionStatus": {
            "$ref": "#/components/schemas/StatusCode"
          },
          "confidence": {
            "anyOf": [
              {
                "type": "string",
                "enum": [
                  "high",
                  "medium",
                  "low",
                  "conflict"
                ]
              },
              {
                "type": "null"
              }
            ]
          },
          "verdictSource": {
            "anyOf": [
              {
                "type": "string",
                "pattern": "^[a-zA-Z0-9_+.-]{1,60}$"
              },
              {
                "type": "null"
              }
            ]
          },
          "source": {
            "$ref": "#/components/schemas/Source"
          },
          "evidence": {
            "$ref": "#/components/schemas/Evidence"
          },
          "actionState": {
            "type": "string",
            "enum": [
              "NORMAL",
              "BUSINESS",
              "COLLECTION"
            ]
          }
        },
        "required": [
          "checkId",
          "storeKey",
          "market",
          "asin",
          "status",
          "severity",
          "recordedSeverity",
          "ok",
          "recordedOk",
          "presentationAdjusted",
          "businessStatus",
          "collectionStatus",
          "confidence",
          "verdictSource",
          "source",
          "evidence",
          "actionState"
        ],
        "description": "status and recordedSeverity/recordedOk retain saved values. The projection sets ERROR/ok=false for recognized uncertainty, evidence conflicts, invalid future timestamps, unrecognized normal-status claims or an OK claim lacking both available routes or having explicit route failure. Recorded performance events remain actionable as CRITICAL. Staleness yields COLLECTION action state without replacing the saved status. This conservative presentation does not repair upstream business-judgment defects or certify every apparent agreement."
      },
      "BusinessResult": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ResultCommon"
          },
          {
            "type": "object",
            "properties": {
              "checkId": {
                "$ref": "#/components/schemas/BusinessCheckId"
              },
              "metrics": {
                "$ref": "#/components/schemas/BusinessMetrics"
              },
              "reasons": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              },
              "notes": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              },
              "ahrScore": {
                "anyOf": [
                  {
                    "type": "number"
                  },
                  {
                    "type": "null"
                  }
                ]
              },
              "ahrScorePrev": {
                "anyOf": [
                  {
                    "type": "number"
                  },
                  {
                    "type": "null"
                  }
                ]
              },
              "ahrScoreMax": {
                "anyOf": [
                  {
                    "type": "number"
                  },
                  {
                    "type": "null"
                  }
                ]
              },
              "ahrDelta": {
                "anyOf": [
                  {
                    "type": "number"
                  },
                  {
                    "type": "null"
                  }
                ]
              },
              "durationMs": {
                "anyOf": [
                  {
                    "type": "number"
                  },
                  {
                    "type": "null"
                  }
                ]
              },
              "attempts": {
                "anyOf": [
                  {
                    "type": "number"
                  },
                  {
                    "type": "null"
                  }
                ]
              },
              "label": {
                "type": "string"
              },
              "productTitle": {
                "type": "string"
              },
              "statusPrev": {
                "anyOf": [
                  {
                    "$ref": "#/components/schemas/StatusCode"
                  },
                  {
                    "type": "null"
                  }
                ]
              },
              "statusChanged": {
                "type": "boolean"
              },
              "baselineEligible": {
                "type": "boolean"
              }
            },
            "required": [
              "metrics",
              "reasons",
              "notes"
            ]
          }
        ],
        "unevaluatedProperties": false
      },
      "InboxResult": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ResultCommon"
          },
          {
            "type": "object",
            "properties": {
              "checkId": {
                "const": "inbox",
                "type": "string"
              },
              "asin": {
                "type": "null"
              },
              "metrics": {
                "$ref": "#/components/schemas/InboxMetrics"
              }
            },
            "required": [
              "metrics"
            ]
          }
        ],
        "unevaluatedProperties": false
      },
      "Result": {
        "oneOf": [
          {
            "$ref": "#/components/schemas/BusinessResult"
          },
          {
            "$ref": "#/components/schemas/InboxResult"
          }
        ]
      },
      "CheckSummary": {
        "type": "object",
        "properties": {
          "checkId": {
            "$ref": "#/components/schemas/CheckId"
          },
          "checkNo": {
            "type": "integer",
            "minimum": 1,
            "maximum": 9
          },
          "title": {
            "type": "string"
          },
          "status": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/StatusCode"
            },
            "minItems": 1,
            "uniqueItems": true
          },
          "severity": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/Severity"
              },
              {
                "type": "null"
              }
            ]
          },
          "stale": {
            "type": "boolean"
          },
          "resultCount": {
            "type": "integer",
            "minimum": 0
          },
          "results": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Result"
            }
          }
        },
        "required": [
          "checkId",
          "checkNo",
          "title",
          "status",
          "severity",
          "stale",
          "resultCount",
          "results"
        ],
        "additionalProperties": false,
        "description": "One entry for each of the nine checks. No saved result yields status [NEVER_RUN], severity null, resultCount 0 and results []. Different ASINs may retain different original runs."
      },
      "Results": {
        "type": "object",
        "properties": {
          "store": {
            "$ref": "#/components/schemas/Store"
          },
          "checks": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CheckSummary"
            },
            "minItems": 9,
            "maxItems": 9
          }
        },
        "required": [
          "store",
          "checks"
        ],
        "additionalProperties": false
      },
      "Run": {
        "type": "object",
        "properties": {
          "runId": {
            "$ref": "#/components/schemas/RunId"
          },
          "runIdSource": {
            "$ref": "#/components/schemas/RunIdSource"
          },
          "snapshotId": {
            "$ref": "#/components/schemas/SnapshotId"
          },
          "startedAt": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/Timestamp"
              },
              {
                "type": "null"
              }
            ]
          },
          "finishedAt": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/Timestamp"
              },
              {
                "type": "null"
              }
            ]
          },
          "collectionDates": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Date"
            },
            "uniqueItems": true
          },
          "resultCount": {
            "type": "integer",
            "minimum": 0
          },
          "matchingResultCount": {
            "type": "integer",
            "minimum": 0
          },
          "savedRecordCount": {
            "type": "integer",
            "minimum": 0
          },
          "statuses": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/StatusCode"
            },
            "uniqueItems": true
          }
        },
        "required": [
          "runId",
          "runIdSource",
          "snapshotId",
          "startedAt",
          "finishedAt",
          "collectionDates",
          "resultCount",
          "matchingResultCount",
          "savedRecordCount",
          "statuses"
        ],
        "additionalProperties": false,
        "description": "One immutable saved run. Date filters select matching results, but resultCount/savedRecordCount describe the entire authorized store fragment of that run. data returns that whole fragment, not just the date-filtered subset. Runs are ordered newest report clock first."
      },
      "ReviewPage": {
        "type": "object",
        "properties": {
          "page": {
            "anyOf": [
              {
                "type": "integer",
                "minimum": 1
              },
              {
                "type": "null"
              }
            ]
          },
          "pages": {
            "anyOf": [
              {
                "type": "integer",
                "minimum": 1
              },
              {
                "type": "null"
              }
            ]
          },
          "capturedAt": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/Timestamp"
              },
              {
                "type": "null"
              }
            ]
          }
        },
        "required": [
          "page",
          "pages",
          "capturedAt"
        ],
        "additionalProperties": false,
        "description": "Explicit saved review ID to page association only. No historical association is inferred. Empty reviewPages does not prove no screenshot existed; screenshot files/paths are never returned."
      },
      "InboxRecord": {
        "type": "object",
        "properties": {
          "recordType": {
            "const": "check-result",
            "type": "string"
          },
          "resultIndex": {
            "type": "integer",
            "minimum": 0
          },
          "result": {
            "$ref": "#/components/schemas/InboxResult"
          }
        },
        "required": [
          "recordType",
          "resultIndex",
          "result"
        ],
        "additionalProperties": false
      },
      "CheckRecord": {
        "type": "object",
        "properties": {
          "recordType": {
            "const": "check-result",
            "type": "string"
          },
          "resultIndex": {
            "type": "integer",
            "minimum": 0
          },
          "result": {
            "$ref": "#/components/schemas/BusinessResult"
          },
          "itemIndex": {
            "type": "null"
          },
          "item": {
            "type": "null"
          }
        },
        "required": [
          "recordType",
          "resultIndex",
          "result",
          "itemIndex",
          "item"
        ],
        "additionalProperties": false
      },
      "BusinessItemRecord": {
        "type": "object",
        "properties": {
          "recordType": {
            "const": "business-item",
            "type": "string"
          },
          "resultIndex": {
            "type": "integer",
            "minimum": 0
          },
          "result": {
            "allOf": [
              {
                "$ref": "#/components/schemas/BusinessResult"
              },
              {
                "properties": {
                  "checkId": {
                    "enum": [
                      "store-health",
                      "performance",
                      "feedback",
                      "reviews",
                      "asin-health",
                      "outlet",
                      "ads-status"
                    ]
                  }
                }
              }
            ]
          },
          "itemIndex": {
            "type": "integer",
            "minimum": 0
          },
          "item": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/BusinessItem"
              },
              {
                "type": "null"
              }
            ]
          },
          "reviewPages": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ReviewPage"
            }
          }
        },
        "required": [
          "recordType",
          "resultIndex",
          "result",
          "itemIndex",
          "item"
        ],
        "additionalProperties": false,
        "allOf": [
          {
            "if": {
              "properties": {
                "result": {
                  "properties": {
                    "checkId": {
                      "const": "reviews",
                      "type": "string"
                    }
                  }
                },
                "item": {
                  "type": "object"
                }
              }
            },
            "then": {
              "required": [
                "reviewPages"
              ]
            },
            "else": {
              "not": {
                "required": [
                  "reviewPages"
                ]
              }
            }
          }
        ]
      },
      "VocAsinRecord": {
        "type": "object",
        "properties": {
          "recordType": {
            "const": "voc-asin",
            "type": "string"
          },
          "resultIndex": {
            "type": "integer",
            "minimum": 0
          },
          "result": {
            "allOf": [
              {
                "$ref": "#/components/schemas/BusinessResult"
              },
              {
                "properties": {
                  "checkId": {
                    "const": "voc",
                    "type": "string"
                  }
                }
              }
            ]
          },
          "itemIndex": {
            "type": "integer",
            "minimum": 0
          },
          "item": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/BusinessItem"
              },
              {
                "type": "null"
              }
            ]
          }
        },
        "required": [
          "recordType",
          "resultIndex",
          "result",
          "itemIndex",
          "item"
        ],
        "additionalProperties": false
      },
      "VocRecord": {
        "type": "object",
        "properties": {
          "recordType": {
            "const": "voc-record",
            "type": "string"
          },
          "resultIndex": {
            "type": "integer",
            "minimum": 0
          },
          "result": {
            "allOf": [
              {
                "$ref": "#/components/schemas/BusinessResult"
              },
              {
                "properties": {
                  "checkId": {
                    "const": "voc",
                    "type": "string"
                  }
                }
              }
            ]
          },
          "itemIndex": {
            "type": "integer",
            "minimum": 0
          },
          "item": {
            "anyOf": [
              {
[...]
